@import url("../Tipografia/Creepster-Regular.ttf");
*{
    margin:0;
    padding:0;
    cursor: url(../img/huella.png), auto;
}

body{
    overflow:hidden;
    background-image: url("../img/fondo_prehistorico.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}


a, button:hover{
    cursor: url(../img/huella_dino3.png), auto;
    font-family: 'Creepster', cursive;
}
.nav{
    background-color:#F07F1A;
    border-bottom: 10px solid #FAD66f ;
}

.reserva{
    height:55px;
   
    border: 0px;
    
    border-radius: 12px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}




.reserva:hover{
    transition-duration: 500ms;
    background: rgb(63,94,251);
    border:3px solid rgb(63,94,251) ;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,193,252,1) 100%);
}

.caja{
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 300px;
    border: 3px solid #73AD21;
}





