*{
    margin:0;
    padding:0;
    cursor: url(../img/huella.png), auto;
}

body{
    overflow:hidden;
    background-image: url("../img/fondo_prehistorico.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    
}

a , button:hover{
    cursor: url(../img/huella_dino3.png), auto;
}
nav{
    background-color:#F07F1A;
    border-bottom: 10px solid #FAD66f ;
    width: 100vw;
}


.reserva{
    height:55px;
    width:80%;
    border: 0px;
    margin-left: 10px;
    border-radius: 12px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.reserva:hover{
    transition-duration: 500ms;
    background: rgb(63,94,251);
    border:3px solid rgb(63,94,251) ;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(70,193,252,1) 100%);
}

@media screen and (min-width:200px) {

    
}

